.h2 {
    font-size: 120px;
    line-height: 1.2;
    font-weight: 900;
}

.h3 {
    font-size: 80px;
    line-height: 1.2;
    font-weight: 900;
}

@media (max-width: 992px) {

    .h3,
    .h2 {
        font-size: 48px;
    }

}

.c-000 {
    color: #000 !important;
}

.fz-32 {
    font-size: 32px;
}

@media (max-width: 992px) {

    .fz-48-32 {
        font-size: 32px;
    }

}

.fz-20 {
    font-size: 20px;
}

.fz-16 {
    font-size: 16px;
}

.fz-14 {
    font-size: 14px;
}

.fz-48-32 {
    font-size: 48px;
}

.fz-48-28 {
    font-size: 48px;
}


.fz-32-20 {
    font-size: 32px;
}

.fz-32-16 {
    font-size: 32px;
}

@media (max-width: 992px) {
    .fz-48-32 {
        font-size: 32px;
    }

    .fz-48-28 {
        font-size: 28px;
    }

    .fz-32-20 {
        font-size: 20px;
    }

    .fz-32-16 {
        font-size: 16px;
    }
}

.w-700 {
    font-weight: 700;
}

.w-900 {
    font-weight: 900;
}

.lh-21 {
    line-height: 21px;
}

.lh-24 {
    line-height: 24px;
}

.p-40 {
    padding: 40px;
}

.p-160-80 {
    padding: 160px 0;
}

@media (max-width: 992px) {
    .p-160-80 {
        padding: 80px 0;
    }
}

.p-80-40 {
    padding: 80px 40px;
}

.p-80-0 {
    padding: 80px 0;
}

.p-32-0 {
    padding: 32px 0;
}

.p-20-40 {
    padding: 20px 40px;
}

.p-20-32 {
    padding: 20px 32px;
}


@media (max-width: 992px) {
    .p-lg-120-0 {
        padding: 120px 0;
    }
}

.mr-80 {
    margin-right: 80px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-12 {
    margin-right: 12px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-08 {
    margin-bottom: 8px;
}

.mb-04 {
    margin-bottom: 4px;
}

.mb-24-16 {
    margin-bottom: 24px;
}

.mb-40-16 {
    margin-bottom: 40px;
}

.mb-40-32 {
    margin-bottom: 40px;
}

.mb-80-24 {
    margin-bottom: 80px;
}

.mb-80-32 {
    margin-bottom: 80px;
}


.mb-80-40 {
    margin-bottom: 80px;
}

.mb-80-64 {
    margin-bottom: 80px;
}


.mb-160-120 {
    margin-bottom: 160px;
}

.mb-160-48 {
    margin-bottom: 160px;
}

@media (max-width: 992px) {
    .mb-lg-40 {
        margin-bottom: 40px;
    }

    .mb-lg-36 {
        margin-bottom: 36px;
    }

    .mb-lg-24 {
        margin-bottom: 24px;
    }

    .mb-24-16 {
        margin-bottom: 16px;
    }

    .mb-40-16 {
        margin-bottom: 16px;
    }

    .mb-40-32 {
        margin-bottom: 32px;
    }

    .mb-80-24 {
        margin-bottom: 24px;
    }

    .mb-80-32 {
        margin-bottom: 32px;
    }

    .mb-80-40 {
        margin-bottom: 40px;
    }

    .mb-80-64 {
        margin-bottom: 64px;
    }

    .mb-160-48 {
        margin-bottom: 48px;
    }

    .mb-160-120 {
        margin-bottom: 120px;
    }
}

.mt-12 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}