.logo {
  width: 245px;
}

.btn-p{
  padding: 20px 40px;
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.bg-black {
  background-color: #020202;
}

.navbar {
  border-bottom: 1px solid #ffffff;
}

.navbar-collapse-list {
  display: none;
  /* 在電腦版時不顯示 */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 81px);
  /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
  background-color: #000000;
  z-index: 10;
  border-top: 1px solid #ffffff;
}

.navbar-collapse-list a {
  font-size: 80px;
  margin: 4px 0;
}

.navbar a {
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 992px) {
  .navbar-collapse-list.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title{
  margin-top: 40px;
  height: 100vh;
  position: relative;
}
.motin{
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 992px) {
  .title{
    height: 811px;
  }
  .title-lg{
    max-width: 252px;
  }
  .motin{
    top: 614px;
    right: 0;
  }
}

.footer-content {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.to-top {
  top: 32px;
  right: 0;
  color: #ffffff !important;
  cursor: pointer;
}

.to-top:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  .start-content {
    margin-right: auto;
    margin-left: auto;
    max-width: 224px;
  }
}