.pricing-content {
  max-width: 636px;
}

@media (max-width: 992px) {
  .pricing-content {
    max-width: 257px;
  }
}

.qa-list {
  li {
    width: 856px;
    font-size: 20px;

    a {
      border: 1px solid #525252;
      border-radius: 16px;
      padding: 20px 45px;
    }
  }

  li+li {
    margin-top: 16px;
  }

  li:hover a {
    border: 1px solid #FFFFFF;
  }

  p {
    display: none;
    font-size: 14px;
  }
}

.hide-icon {
  display: none;
}

@media (max-width: 992px) {
  .qa-list {
    li {
      width: 100%;
    }
  }
}

// section 3 : start
.use-list li {
  border-bottom: 1px solid #525252;
}

// section 3 : end

// section 2 : start
.price-list {
  >li {
    height: 318px;
    border: 1px solid #525252;
    border-radius: 16px;
    padding: 0;
    width: 45%;
    &:hover{
      border: 1px solid #FFFFFF;
    }
  }

  >li:nth-child(even) {
    margin-left: 24px;
  }
}

.price-top ul {
  list-style: disc;

  li {
    margin-left: 28px;
  }
}

.price-bottom {
  border-top: 1px solid #525252;
}

.tokens {
  color: #525252;
  font-weight: 400;
}

@media (max-width: 992px) {
  .price-list {
    >li {
      width: 100%;
    }

    >li:nth-child(even) {
      margin-left: 0px;
    }
  }
}

// section 2 : end