@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #020202;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: #ffffff !important;
  display: block;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.h2 {
  font-size: 120px;
  line-height: 1.2;
  font-weight: 900;
}

.h3 {
  font-size: 80px;
  line-height: 1.2;
  font-weight: 900;
}

@media (max-width: 992px) {
  .h3,
  .h2 {
    font-size: 48px;
  }
}

.c-000 {
  color: #000 !important;
}

.fz-32 {
  font-size: 32px;
}

@media (max-width: 992px) {
  .fz-48-32 {
    font-size: 32px;
  }
}

.fz-20 {
  font-size: 20px;
}

.fz-16 {
  font-size: 16px;
}

.fz-14 {
  font-size: 14px;
}

.fz-48-32 {
  font-size: 48px;
}

.fz-48-28 {
  font-size: 48px;
}

.fz-32-20 {
  font-size: 32px;
}

@media (max-width: 992px) {
  .fz-48-32 {
    font-size: 32px;
  }
  .fz-48-28 {
    font-size: 28px;
  }
  .fz-32-20 {
    font-size: 20px;
  }
}

.w-700 {
  font-weight: 700;
}

.w-900 {
  font-weight: 900;
}

.lh-21 {
  line-height: 21px;
}

.lh-24 {
  line-height: 24px;
}

.p-40 {
  padding: 40px;
}

.p-160-80 {
  padding: 160px 0;
}

@media (max-width: 992px) {
  .p-160-80 {
    padding: 80px 0;
  }
}

.p-80-40 {
  padding: 80px 40px;
}

.p-80-0 {
  padding: 80px 0;
}

.p-32-0 {
  padding: 32px 0;
}

.p-20-40 {
  padding: 20px 40px;
}

@media (max-width: 992px) {
  .p-lg-120-0 {
    padding: 120px 0;
  }
}

.mr-80 {
  margin-right: 80px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-04 {
  margin-bottom: 4px;
}

.mb-24-16 {
  margin-bottom: 24px;
}

.mb-40-16 {
  margin-bottom: 40px;
}

.mb-40-32 {
  margin-bottom: 40px;
}

.mb-80-24 {
  margin-bottom: 80px;
}

.mb-80-32 {
  margin-bottom: 80px;
}

.mb-80-40 {
  margin-bottom: 80px;
}

.mb-80-64 {
  margin-bottom: 80px;
}

.mb-160-120 {
  margin-bottom: 160px;
}

.mb-160-48 {
  margin-bottom: 160px;
}

@media (max-width: 992px) {
  .mb-lg-40 {
    margin-bottom: 40px;
  }
  .mb-lg-36 {
    margin-bottom: 36px;
  }
  .mb-lg-24 {
    margin-bottom: 24px;
  }
  .mb-24-16 {
    margin-bottom: 16px;
  }
  .mb-40-16 {
    margin-bottom: 16px;
  }
  .mb-40-32 {
    margin-bottom: 32px;
  }
  .mb-80-24 {
    margin-bottom: 24px;
  }
  .mb-80-32 {
    margin-bottom: 32px;
  }
  .mb-80-40 {
    margin-bottom: 40px;
  }
  .mb-80-64 {
    margin-bottom: 64px;
  }
  .mb-160-48 {
    margin-bottom: 48px;
  }
  .mb-160-120 {
    margin-bottom: 120px;
  }
}

.logo {
  width: 245px;
}

.btn-p {
  padding: 20px 40px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  cursor: pointer;
}

.bd-gray {
  border: 1px solid #F2F2F2;
}

.bg-black {
  background-color: #020202;
}

.navbar {
  border-bottom: 1px solid #ffffff;
}

.navbar-collapse-list {
  display: none;
  /* 在電腦版時不顯示 */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 81px);
  /* 佔滿整個瀏覽器高度扣掉 navbar 高度 */
  background-color: #000000;
  z-index: 10;
}

.navbar-collapse-list a {
  font-size: 80px;
  margin: 4px 0;
}

.navbar a {
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 992px) {
  .navbar-collapse-list.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title {
  margin-top: 40px;
  height: 100vh;
  position: relative;
}

@media (max-width: 576px) {
  .title {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.motin {
  position: absolute;
  bottom: 0;
  right: 0;
}

.motin-pricing {
  left: 0;
}

.serve-title {
  width: 414px;
}

@media (max-width: 576px) {
  .serve-title {
    width: 100%;
  }
}

.serve-content {
  max-width: 856px;
}

@media (max-width: 992px) {
  .serve-content {
    max-width: 100%;
  }
}

.serve-list > li {
  border: 1px solid #525252;
  border-radius: 16px;
  width: calc((100% - 48px)/3);
}

.serve-list li + li {
  margin-left: 24px;
}

@media (max-width: 992px) {
  .serve-list > li {
    width: 100%;
  }
  .serve-list > li + li {
    margin-left: 0px;
    margin-top: 12px;
  }
}

.enterprise-list {
  overflow: hidden;
  position: relative;
  max-width: 1296px;
  height: 40px;
}

.enterprise-list-1 li {
  position: absolute;
  top: 0;
}

.enterprise-list-1 li:nth-child(2) {
  left: -62px;
}

.enterprise-list-1 li:nth-child(3) {
  left: 118px;
}

.enterprise-list-1 li:nth-child(4) {
  left: 298px;
}

.enterprise-list-1 li:nth-child(5) {
  left: 478px;
}

.enterprise-list-1 li:nth-child(6) {
  left: 658px;
}

.enterprise-list-1 li:nth-child(7) {
  left: 838px;
}

.enterprise-list-1 li:nth-child(8) {
  left: 1018px;
}

.enterprise-list-1 li:nth-child(9) {
  left: 1198px;
}

.enterprise-list-2 li {
  position: absolute;
  top: 0;
}

.enterprise-list-2 li:nth-child(2) {
  left: 16px;
}

.enterprise-list-2 li:nth-child(3) {
  left: 196px;
}

.enterprise-list-2 li:nth-child(4) {
  left: 376px;
}

.enterprise-list-2 li:nth-child(5) {
  left: 556px;
}

.enterprise-list-2 li:nth-child(6) {
  left: 736px;
}

.enterprise-list-2 li:nth-child(7) {
  left: 916px;
}

.enterprise-list-2 li:nth-child(8) {
  left: 1096px;
}

.enterprise-bg-l,
.enterprise-bg-r {
  position: absolute;
  width: 196px;
  height: 40px;
  top: 0;
  z-index: 5;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(11.79%, rgba(0, 0, 0, 0.991615)), color-stop(21.38%, rgba(0, 0, 0, 0.967585)), color-stop(29.12%, rgba(0, 0, 0, 0.9296)), color-stop(35.34%, rgba(0, 0, 0, 0.879348)), color-stop(40.37%, rgba(0, 0, 0, 0.818519)), color-stop(44.56%, rgba(0, 0, 0, 0.7488)), color-stop(48.24%, rgba(0, 0, 0, 0.671881)), color-stop(51.76%, rgba(0, 0, 0, 0.589452)), color-stop(55.44%, rgba(0, 0, 0, 0.5032)), color-stop(59.63%, rgba(0, 0, 0, 0.414815)), color-stop(64.66%, rgba(0, 0, 0, 0.325985)), color-stop(70.88%, rgba(0, 0, 0, 0.2384)), color-stop(78.62%, rgba(0, 0, 0, 0.153748)), color-stop(88.21%, rgba(0, 0, 0, 0.0737185)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
}

.enterprise-bg-l {
  left: 0;
}

.enterprise-bg-r {
  right: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.enterprise-list > li + li {
  margin-left: 20px;
}

.enterprise-list > li img {
  width: 160px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-list > li {
  background: rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
          box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
  border: 0px solid #000;
}

.star-list li > img {
  width: 16px;
  height: 16px;
}

.star-list li + li {
  margin-left: 4px;
}

.user-content {
  min-height: 215px;
}

@media (max-width: 992px) {
  .user-content {
    min-height: 144px;
  }
}

.app {
  background: #FFFFFF;
  border-radius: 160px;
}

@media (max-width: 992px) {
  .app {
    border-radius: 80px;
  }
}

@media (max-width: 768px) {
  .app {
    border-radius: 40px;
  }
}

@media (max-width: 576px) {
  .app {
    border-radius: 20px;
  }
}

.search-group {
  position: relative;
}

.search-group input {
  padding-left: 76px;
}

.search {
  background: #F2F2F2;
  border-radius: 16px;
  color: #919191;
  border: 0px solid #000;
}

.search-icon {
  position: absolute;
  top: 20px;
  left: 40px;
  color: #919191;
}

.card {
  border: 1px solid #F2F2F2;
  border-radius: 16px !important;
  overflow: hidden;
}

.card:hover .card-img-top img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.card-body,
.list-group-item {
  padding: 20px 32px;
}

.card-img-top img {
  height: 312px;
  width: 100%;
  border-radius: 16px 16px 0px 0px !important;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card-img-top {
  overflow: hidden;
}

.page {
  text-align: center;
  line-height: 280%;
  width: 48px;
  height: 48px;
}

.page:hover,
.page:focus,
.page.active {
  background: #020202;
  border-radius: 16px;
  color: #fff !important;
}

.page:hover {
  background: #919191;
}

.page-list li + li {
  margin-left: 4px;
}

.page-next {
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-mask: url(../images/icon-page-next.svg);
  mask: url(../images/icon-page-next.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
          mask-position: 50% 50%;
}

.page-next:hover {
  background-color: #fff;
}

.class-list {
  white-space: nowrap;
}

.class-list a {
  color: #919191 !important;
}

.class-list li {
  padding: 8px 16px;
}

.class-list li + li {
  margin-left: 8px;
}

.class-list .active {
  background: #F2F2F2;
  border-radius: 16px;
}

.class-list .active a {
  color: #020202 !important;
  font-weight: 700;
}

@media (max-width: 768px) {
  .class-list {
    overflow-x: scroll;
  }
}

@media (max-width: 992px) {
  .title {
    height: 811px;
  }
  .title-lg {
    max-width: 252px;
  }
  .motin {
    top: 614px;
    right: 0;
  }
}

.footer-content {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.to-top {
  top: 32px;
  right: 0;
  color: #ffffff !important;
  cursor: pointer;
}

.to-top:hover {
  opacity: 0.8;
}

@media (max-width: 992px) {
  .start-content {
    margin-right: auto;
    margin-left: auto;
    max-width: 224px;
  }
}

.pricing-content {
  max-width: 636px;
}

@media (max-width: 992px) {
  .pricing-content {
    max-width: 257px;
  }
}
/*# sourceMappingURL=all.css.map */